<div class="Pagina">
  <div id="MenuDeLogin"></div>
  <div class="Contenido">
    <div id="LogoLogin">
      <img src="Imagenes/logo.png" alt="Logo">
    </div>

    <div class="CuadroLogin">
      <form (ngSubmit)="onSubmit()">
        <div class="TitLogin">Nombres</div>
        <div class="Campo">
          <input type="text" [formControl]="registroForm.controls.nombres">
        </div>

        <div class="TitLogin">Apellido Paterno</div>
        <div class="Campo">
          <input type="text" [formControl]="registroForm.controls.apellido_paterno">
        </div>

        <div class="TitLogin">Apellido Materno</div>
        <div class="Campo">
          <input type="text" [formControl]="registroForm.controls.apellido_materno">
        </div>

        <div class="TitLogin">Email</div>
        <div class="Campo">
          <input type="email" [formControl]="registroForm.controls.correo">
        </div>

        <div class="TitLogin">Teléfono</div>
        <div class="Campo">
          <input type="text" [formControl]="registroForm.controls.telefono">
        </div>

        <div class="TitLogin">Contraseña</div>
        <div class="Campo">
          <input type="password" [formControl]="registroForm.controls.contrasena">
        </div>

        <div class="TitLogin">Fecha de Nacimiento</div>
        <div class="Campo">
          <input type="date" [formControl]="registroForm.controls.fecha_nacimiento">
        </div>

        <div class="TitLogin">Sexo</div>
        <div class="Campo" id="CampoSexo">
          <select [formControl]="registroForm.controls.sexo">
            <option value="">Selecciona</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>

        <div id="BotonRegistrar">
          <button type="submit" [disabled]="registroForm.invalid || authService.isLoading()">
            @if (authService.isLoading()) {
              Cargando...
            } @else {
              Registrarse
            }
          </button>
        </div>

        @if (authService.errorMessage()) {
          <div class="MensajeError">
            {{ authService.errorMessage() }}
          </div>
        }
      </form>

      <div id="Pregunta">¿Ya tienes una cuenta?</div>
      <div id="IniciaSesion">
        <a routerLink="/login">Inicia Sesión</a>
      </div>
    </div>
  </div>
  <div id="PieDeLogin"></div>
</div>