<div class="Pagina">
  <div class="Contenido">
    <div class="TitContenido" id="TitHor">Horarios disponibles</div>
    <div id="ContenidoHorarios">
      <div class="TablaHorarios">

        <div class="CeldaMes">
          <img src="Imagenes/FlechaIzq.png" (click)="horariosService.mesAnterior()">
          <div class="Mes">{{ horariosService.nombreMes() }} {{ horariosService.anioActual() }}</div>
          <img src="Imagenes/FlechaDer.png" (click)="horariosService.mesSiguiente()">
        </div>

        @for (dia of diasSemana; track dia) {
          <div class="CeldaDia">{{ dia }}</div>
        }

        @for (vacio of horariosService.vacios(); track vacio) {
          <div class="CeldaHorario sinHorario"></div>
        }

        @for (dia of horariosService.diasCalendario(); track dia.fecha) {
          <div class="CeldaHorario"
            [class.sinHorario]="!dia.disponible"
            [class.disponible]="dia.disponible">

            @if (!dia.disponible) {
              <div class="DiaHorario">{{ dia.numero }}</div>
            }

            @if (dia.disponible && !authService.isAdmin()) {
              <div (click)="irAgendar(dia.fecha)">
                <div class="DiaHorario">{{ dia.numero }}</div>
                @for (bloque of dia.bloques; track bloque) {
                  <div [class]="bloque.turno === 'Mat' ? 'CeldaHorarioMat' : 'CeldaHorarioVes'">
                    {{ bloque.horaIni }}-{{ bloque.horaFin }}
                  </div>
                }
              </div>
            }

            @if (dia.disponible && authService.isAdmin()) {
              <div class="DiaHorario">{{ dia.numero }}</div>
              @for (bloque of dia.bloques; track bloque) {
                <div [class]="bloque.turno === 'Mat' ? 'CeldaHorarioMat' : 'CeldaHorarioVes'">
                  {{ bloque.horaIni }}-{{ bloque.horaFin }}
                </div>
              }
              <span class="EliminarFecha" (click)="eliminarFecha(dia.fecha)">Eliminar</span>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>