body {
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (min-width:1025px) {
    .Contenido { padding: 50px; }
    .TitContenido { font-family: Verdana; font-size: 44px; font-weight: bold; width: 260px; }
}

@media screen and (min-width:681px) and (max-width:1024px) {
    .Contenido { padding: 50px; }
    .TitContenido { font-family: Verdana; font-size: 40px; font-weight: bold; }
}

@media screen and (min-width:0px) and (max-width:680px) {
    .Contenido { padding: 20px; }
    .TitContenido { font-family: Verdana; font-size: 32px; font-weight: bold; }
}