body { margin: 0px; padding: 0px; }

/* Desktop */
@media screen and (min-width:1025px) {
    .Pagina { width: 100%; margin: 0 auto; }
    .Contenido { padding: 50px; min-height: 705px; }
    .TitContenido { font-family: Verdana; font-size: 44px; font-weight: bold; width: 260px; }
}

/* Tablet */
@media screen and (min-width:681px) and (max-width:1024px) {
    .Pagina { width: 100%; margin: 0 auto; }
    .Contenido { padding: 50px; min-height: 705px; }
    .TitContenido { font-family: Verdana; font-size: 40px; font-weight: bold; display: flex; justify-content: center; align-items: center; }
}

/* Mobile */
@media screen and (min-width:0px) and (max-width:680px) {
    .Pagina { width: 100%; margin: 0 auto; }
    .Contenido { padding: 50px; min-height: 705px; }
    .TitContenido { font-family: Verdana; font-size: 32px; font-weight: bold; display: flex; justify-content: center; align-items: center; }
}