<div class="Pagina">
  <div class="Contenido">
    @if (tratamientosService.isLoading()) {
      <div class="MensajeCargando">Cargando...</div>
    }

    @if (tratamientosService.tratamientoSeleccionado()) {
      <div class="Tratamiento">
        <div class="ImagenTrat">
          <img [src]="'Imagenes/' + tratamientosService.tratamientoSeleccionado()!.imagen"
            [alt]="tratamientosService.tratamientoSeleccionado()!.nombre">
        </div>
        <div class="InfoTrat">
          <div class="TituloTrat">{{ tratamientosService.tratamientoSeleccionado()!.nombre }}</div>
          <div class="PrecioTrat">{{ tratamientosService.tratamientoSeleccionado()!.precio }}</div>
          <div class="TextoTrat">{{ tratamientosService.tratamientoSeleccionado()!.descripcion }}</div>
          <div class="CuadroRecomen">
            <div class="TituloCuadro">¿Cuándo se recomienda?</div>
            <div class="TextoCuadro">
              <ul>
                @for (recomendacion of tratamientosService.tratamientoSeleccionado()!.recomendaciones; track recomendacion) {
                  <li>{{ recomendacion }}</li>
                }
              </ul>
            </div>
          </div>
          <div class="BotonAgendarCita">
            <button class="BotonCita" routerLink="/agendar">Agendar cita</button>
          </div>
        </div>
      </div>
    } @else {
      <div class="MensajeNoEncontrado">Tratamiento no encontrado.</div>
    }
  </div>
</div>